{% extends 'layout.html.twig' %}

{% block title "Registro de un equipo" %}

{% block content %}
    <img src="{{ asset('imagenes/logo.png') }}" id="logo" alt="Logo competición">
    <h1 class="well">Registro en la competición</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-info"><i class="fa fa-pencil"></i> Registrar equipo</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
